---
import projects from '../../data/projects'
import type { GetStaticPaths } from 'astro'
import ProjectLayout from '../../layouts/projectLayout.astro'
import TitleSection from '../../components/TitleSection.astro'

export const getStaticPaths = (() => {
  const pages = projects
  return pages.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project }
    }
  })
}) satisfies GetStaticPaths

const { project } = Astro.props
---

<ProjectLayout>
  <TitleSection>{project.name}</TitleSection>

  <div class="flex flex-col gap-8 w-full items-start">
    <div class="overflow-hidden">
      <img class="h-60 w-full rounded-xl" src={`${project.images[0]}`} />
    </div>
    <div class="space-y-3">
      <h2 class="font-bold text-3xl">Descripción:</h2>
      <div set:html={project.description} class="text-md pl-2" />

      <h2 class="font-bold text-3xl">
        Aprendizajes y características técnicas:
      </h2>
      <div set:html={project.learnings} class="text-md pl-2" />

      {
        project.userData && (
          <>
            <h3 class="font-bold text-3xl">Datos de Prueba:</h3>
            <div set:html={project.userData} class="text-md pl-2" />
          </>
        )
      }

      <h2 class="font-bold text-3xl">Tecnologías:</h2>

      <ul class="flex flex-wrap gap-3 pl-2">
        {
          project.technologies.map((technology) => (
            <li class="bg-black bg-linear-to-tl from-blue-800 via-black to-fuchsia-800 hover:contrast-150 transition-all duration-300 hover:scale-110 p-2 rounded-full text-xs my-1 cursor-default">
              {technology}
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <nav class="flex justify-start mt-8 gap-8">
    <a
      href="/"
      class="bg-purple-600 hover:bg-purple-700 cursor-pointer transition-colors duration-300 py-3 px-6 rounded-lg text-md"
      >Volver al Inicio</a
    >
    <a
      href={project.url}
      target="_blank"
      rel="noopener noreferrer"
      class="bg-indigo-600 hover:bg-indigo-700 cursor-pointer transition-colors duration-300 py-3 px-6 rounded-lg text-md"
      >Ver Proyecto</a
    >
  </nav>
</ProjectLayout>
