---
import projects from '@/data/projects'
import type { GetStaticPaths } from 'astro'
import TitleSection from '@/components/ui/TitleSection.astro'
import Layout from '@/layouts/Layout.astro'
import ImageSlide from '@/components/ImageSlide.astro'
import SubTitle from '@/components/ui/SubTitle.astro'

export const getStaticPaths = (() => {
  const pages = projects
  return pages.map((project) => {
    return {
      params: { slug: project.slug },
      props: { project }
    }
  })
}) satisfies GetStaticPaths

const { project } = Astro.props
---

<Layout hidden={true} titleSlug={project.name} title_main_card="Desarrollador Web FullStack">
  <article class="flex flex-col gap-5">
    <div class="w-full h-full">
      <TitleSection
        >Proyecto <span class="text-purple-600">{project.name}</span>
      </TitleSection>

      <ImageSlide images={project.images} name={project.name} />
    </div>

    <div class="space-y-5 md:space-y-10 lg:space-y-5 2xl:space-y-6">

      <SubTitle>Descripción:</SubTitle>
      <div set:html={project.description} class="text-lg md:text-2xl lg:text-lg 2xl:text-2xl pl-2" />

      <SubTitle>Aprendizajes y características técnicas:</SubTitle>
      <div set:html={project.learnings} class="text-lg md:text-2xl lg:text-lg 2xl:text-2xl pl-2" />

      {
        project.userData && (
          <SubTitle>Datos de Prueba:</SubTitle>
          <div
            set:html={project.userData}
            class="text-lg md:text-2xl lg:text-lg pl-2 2xl:text-2xl"
          />
        )
      }

      <SubTitle>Tecnologías:</SubTitle>

      <ul class="flex flex-wrap gap-3 pl-2">
        {
          project.technologies.map((technology) => (
            <li class="bg-black bg-linear-to-tl from-blue-800 via-black to-fuchsia-800 hover:contrast-150 transition-all duration-300 hover:scale-110 p-2 rounded-full text-sm md:text-lg lg:text-sm 2xl:text-xl my-1 cursor-default">
              {technology}
            </li>
          ))
        }
      </ul>
    </div>

    <nav class="flex justify-start mt-8 gap-8">
      <a
        href="/"
        class="bg-purple-600 hover:bg-purple-700 cursor-pointer transition-colors duration-300 py-3 px-6 rounded-lg text-base md:text-2xl lg:text-lg 2xl:text-2xl"
        >Volver al Inicio</a
      >
      <a
        href={project.url}
        target="_blank"
        rel="noopener noreferrer"
        class="bg-indigo-600 hover:bg-indigo-700 cursor-pointer transition-colors duration-300 py-3 px-6 rounded-lg text-base md:text-2xl lg:text-lg  2xl:text-2xl"
        >Ver Proyecto</a
      >
    </nav>
  </article>
</Layout>
